[ req ]
encrypt_key = yes
default_md = sha256
prompt = no
utf8 = yes

distinguished_name = req_distinguished_name
req_extensions = req_extensions

[ req_distinguished_name ]
C = DE
ST = Bavaria
L = Munich
O  = TLS Playground
CN = server1.tls-playground.localhost

[ req_extensions ]
subjectAltName=@alt_names

[ alt_names ]
DNS.1 = localhost
DNS.2 = server1.tls-playground.localhost
DNS.3 = server1a.tls-playground.localhost
DNS.4 = server1b.tls-playground.localhost
DNS.5 = *.server1.tls-playground.localhost
