# hidden, temp, backup, log, archive files
.*
*~
*.tmp
*.bak
*.old
*.log
*.zip
*.tar
*.tar.*
*.tgz
*.tbz

# transient certificate files
*.pem
*.der
*.pfx
*.pass.txt

# transient CA files
/ca/**/db.txt
/ca/**/db.txt.*
/ca/**/serial
/ca/**/serial.*
/ca/**/archive/

# transient ACME files
/acme/**/*.conf
/acme/**/*.ini
/acme/certbot/conf/
/acme/certbot/lib/
/acme/certbot/log/
!/acme/letsencrypt/*.pem

# transient TLS server files
/server/**/*.conf

# transient build files
var/
target/
/result*

# Docker and Nix build files
/Dockerfile
/*.nix
!/.bashrc
