.*
*~
*.bak
*.old

*.pem
*.der
*.pfx

/ca/**/db.txt
/ca/**/db.txt.*
/ca/**/serial
/ca/**/serial.*
/ca/**/newcerts/

/acme/**/*.conf
/acme/**/*.config

/server-nginx/**/*.conf
/server-nginx/**/*.config

target/

