.*
*~
*.bak
*.old

*.pem
*.der
*.pfx
*.pass.txt

/ca/**/db.txt
/ca/**/db.txt.*
/ca/**/serial
/ca/**/serial.*
/ca/**/archive/

/acme/**/*.conf
/acme/**/*.ini
/acme/certbot/conf/
/acme/certbot/lib/
/acme/certbot/log/
!/acme/letsencrypt/*.pem

/server/**/*.conf

var/
target/

