server {

  # This part of the SSL configuration is usually specific to each virtual server, if multiple are present.
  # Thus we put it into the server context.

  # listen on the default HTTPS port and enable SSL
  listen ${TP_SERVER_LISTEN_ADDRESS}:${TP_SERVER_HTTPS_PORT} ssl default_server;

  # the server name (should match the server name in the certificate below)
  server_name tls-playground.${TP_SERVER_DOMAIN};

  # server certificate (including full certificate chain up to the root certificate)
  ssl_certificate        servers/server0/tls/server.cert.pem;

  # the corresponding private key
  ssl_certificate_key    servers/server0/tls/private/server.key.pem;
  ssl_password_file      servers/server0/tls/private/server.key.pass.txt;

  # enable HSTS (HTTP Strict Transport Security)
  add_header Strict-Transport-Security "max-age=15768000; includeSubdomains;";

  # ...
  root servers/server0/public;
  ssi on;
}

