worker_processes 1;

daemon off;

events {
  worker_connections  1024;
}

http {

  keepalive_timeout 2s;

  server {
    # listen on the default HTTP port
    listen ${TP_SERVER_LISTEN_ADDRESS}:${TP_SERVER_HTTP_PORT} default_server;

    # the server name
    server_name ${TP_SERVER_DOMAIN};

    # ...
    root public;
  }
}
