pid var/nginx.pid;
error_log var/logs/error.log;

worker_processes 1;
events {
  worker_connections  128;
}

http {

  keepalive_timeout 2s;

  server {
    # listen on the default HTTP port
    listen ${TP_SERVER_LISTEN_ADDRESS}:${TP_SERVER_HTTP_PORT} default_server;

    # the server name
    server_name tls-playground.${TP_SERVER_DOMAIN};

    # serve acme challenges from the webroot
    root public;

    # log http(s) requests to file
    access_log var/logs/access.log;
  }
}
