[ ca ]

default_ca      = ca1



[ ca1 ]

dir            = ca1                     # base dir
serial         = $dir/serial             # serial no file
database       = $dir/db.txt             # database file
new_certs_dir  = $dir/newcerts           # new certs dir
 
certificate    = $dir/ca-root-cert.pem   # CA root certificate
private_key    = $dir/private/ca-root-key.pem  # CA root private key
 
default_days   = 30                      # how long to certify for
default_crl_days  = 30                   # how long before next CRL
default_md     = sha256                  # md to use

policy         = default_policy          # default policy
unique_subject = no                      # allow certs with identical subjects
email_in_dn    = no                      # don't add the email into cert DN

name_opt       = ca_default              # subject name display option
cert_opt       = ca_default              # certificate display option

x509_extensions = default_extensions
copy_extensions = copy                   # copy subjectAltNames from request



[ ca2 ]

dir            = ca2                     # base dir
serial         = $dir/serial             # serial no file
database       = $dir/db.txt             # database file
new_certs_dir  = $dir/newcerts           # new certs dir

certificate    = $dir/ca-root-cert.pem   # CA root certificate
private_key    = $dir/private/ca-root-key.pem  # CA root private key

default_days   = 30                      # how long to certify for
default_crl_days  = 30                   # how long before next CRL
default_md     = sha256                  # md to use

policy         = default_policy          # default policy
unique_subject = no                      # allow certs with identical subjects
email_in_dn    = no                      # don't add the email into cert DN

name_opt       = ca_default              # subject name display option
cert_opt       = ca_default              # certificate display option

x509_extensions = default_extensions
copy_extensions = copy                   # copy subjectAltNames from request



[ default_policy ]

countryName            = supplied
stateOrProvinceName    = optional
organizationName       = optional
organizationalUnitName = optional
commonName             = supplied
emailAddress           = optional



[ default_extensions ]

# these extensions are suitable for TLS server and client certificates
basicConstraints = critical, CA:FALSE
keyUsage         = critical, digitalSignature, nonRepudiation, keyEncipherment
extendedKeyUsage = clientAuth, serverAuth
subjectKeyIdentifier = hash

