[ req ]

prompt = no
utf8 = yes
default_bits = 4096
default_md = sha1
encrypt_key = yes

distinguished_name = cert_distinguished_name

[ cert_distinguished_name ]

C = DE
ST = Bavaria
L = Munich
O  = TLS Playground
CN = cert.with.insecure.sha1.signature.example
