[ req ]

prompt = no
utf8 = yes
default_bits = 3072
default_md = md5
encrypt_key = yes

distinguished_name = cert_distinguished_name

[ cert_distinguished_name ]

C = DE
ST = Bavaria
L = Munich
O  = TLS Playground
CN = md5.bad.example.tls-playground.${TP_SERVER_DOMAIN}
