# The domain in the Subject Common Name (CN) here is problematic.
# Wildcards (*) are only allowed for a complete DNS label.
# They cannot be mixed with fixed parts of a DNS label.
# Reputable CAs will not accept this CSR.
# And even self-signed certificates with this CN will get rejected by clients.

[ req ]

prompt = no
utf8 = yes
default_bits = 4096
default_md = sha384
encrypt_key = yes

distinguished_name = cert_distinguished_name

[ cert_distinguished_name ]

C = DE
ST = Bavaria
L = Munich
O  = TLS Playground
CN = wc*in.ugly.example.tls-playground.${TP_SERVER_DOMAIN}
