# The 320 bit ECDSA curve here may be secure, but it's not widely supported.
# You can use it for self-signed certs or with a private CA, but common clients will not accept it.
# Tested with Firefox, Chrome, and curl, which all reject this curve.
# Public CAs may refuse to issue certificates with this curve in the first place.
# Tested with Let's Encypt, using ACME with certbot and a custom CSR, which reports an error.

[ req ]

prompt = no
utf8 = yes
default_md = sha256
encrypt_key = yes

distinguished_name = req_distinguished_name

[ req_distinguished_name ]

C = DE
ST = Bavaria
L = Munich
O  = TLS Playground
CN = ecdsa-320.example.tls-playground.${TP_SERVER_DOMAIN}

[ tp_custom ]

tp_ec_curve = brainpoolP320r1
