[ req ]

prompt = no
utf8 = yes
default_md = sha256
encrypt_key = yes

distinguished_name = req_distinguished_name

[ req_distinguished_name ]

C = DE
ST = Bavaria
L = Munich
O  = TLS Playground
CN = short-ecdsa-key-122-bits.ugly.example.tls-playground.${TP_SERVER_DOMAIN}

# Note
# This certificate request configuration has an associated public key parameters file that has been generated with the following command:
# $ openssl genpkey -genparam -algorithm ec -pkeyopt ec_paramgen_curve:secp112r2 -out ecdsa-short-key-112.key.params.pem
