
# configure directories
config-dir = ${TP_BASE_DIR}/acme/certbot/etc/

# configure acme server
server = ${TP_ACME_SERVER_URL}

# configure acme account
email = ${TP_ACME_ACCOUNT_EMAIL}
register-unsafely-without-email = true
agree-tos = true
no-eff-email = true

# configure acme challenge authenticator
#authenticator = manual
authenticator = webroot
webroot-path = ${TP_BASE_DIR}/acme/challenges-nginx/public/

# configure certbot behavior when using custom CSR
cert-path = ${TP_BASE_DIR}/acme/newcerts/

# configure cryptography
#key-type = ecdsa
#elliptic-curve = secp384r1
key-type = rsa
rsa-key-size = 4096

