
# directories
config-dir = certbot/conf/
work-dir = certbot/lib/
logs-dir = certbot/log/

# general behavior
non-interactive = true

# ACME account
server = ${TP_ACME_SERVER_URL}
email = ${TP_ACME_ACCOUNT_EMAIL}
register-unsafely-without-email = true
agree-tos = true
no-eff-email = true

# certificate management
webroot-path = challenges/http-01/public/
no-reuse-key = true
no-delete-after-revoke = true

# cryptography
#key-type = ecdsa
#elliptic-curve = secp384r1
key-type = rsa
rsa-key-size = 4096
