server {

    # This part of the SSL configuration is usually specific to each virtual server, if multiple are present.
    # Thus we put it into the server context.

    # listen on the default HTTPS port and enable SSL
    listen ${TP_SERVER_LISTEN_ADDRESS}:${TP_SERVER_HTTPS_PORT} ssl;

    # the server name (should match the server name in the certificate below)
    server_name host2.tls-playground.${TP_SERVER_DOMAIN};

    # server certificate and its private key
    ssl_certificate        virtual/host2/tls/host.fullchain.pem;
    ssl_certificate_key    virtual/host2/tls/private/host.key.pem;
    ssl_password_file      virtual/host2/tls/private/host.key.pass.txt;

    # enforce client certificates
    ssl_verify_client on;
    ssl_client_certificate   virtual/host2/tls/trusted-clients-cas.certs.pem;

    # enable HSTS (HTTP Strict Transport Security)
    add_header Strict-Transport-Security "max-age=15768000; includeSubdomains;";

    # ...
    root virtual/host2/public;
    ssi on;
}
