[ req ]
encrypt_key = no
default_md = sha256
prompt = no
utf8 = yes

distinguished_name = req_distinguished_name

[ req_distinguished_name ]
C = DE
ST = Bavaria
L = Munich
O  = Meeque TLS Playground
CN = ${TP_SERVER_DOMAIN}

