[ req ]

prompt = no
utf8 = yes
default_md = sha384
encrypt_key = yes

distinguished_name = req_distinguished_name

[ req_distinguished_name ]

C = DE
ST = Bavaria
L = Munich
O  = TLS Playground
CN = ecdsa-256.good.example.tls-playground.${TP_SERVER_DOMAIN}

[ tp_custom ]

tp_ec_curve = prime256v1
