[ req ]

prompt = no
utf8 = yes
default_md = sha256
encrypt_key = yes

distinguished_name = req_distinguished_name

[ req_distinguished_name ]

C = DE
ST = Bavaria
L = Munich
O  = TLS Playground
CN = cert.with.short.ecdsa.key.example

# Note
# This certificate request configuration has an associated public key parameters file that has been generated with the following command:
# $ openssl genpkey -genparam -algorithm ec -pkeyopt ec_paramgen_curve:brainpoolP320r1 -out ecdsa-brainpoolP320r1.key.params.pem
