[ req ]

prompt = no
utf8 = yes
default_bits = 3072
default_md = sha384
encrypt_key = yes

distinguished_name = req_distinguished_name

[ req_distinguished_name ]

C = DE
ST = Bavaria
L = Munich
O  = Meeque TLS Playground
CN = tls-playground.${TP_SERVER_DOMAIN}
